version: "2.1"
services:
  database:
    image: build.datapunt.amsterdam.nl:5000/atlas/postgres
    environment:
      POSTGRES_PASSWORD: insecure
      POSTGRES_USER: monumenten

  importer:
    image: build.datapunt.amsterdam.nl:5000/datapunt/monumenten:${ENVIRONMENT}
    links:
      - database
    environment:
      CULTUUR_OBJECTSTORE_PASSWORD: ${CULTUUR_OBJECTSTORE_PASSWORD}
      DATABASE_NAME: monumenten
      DATABASE_USER: monumenten
      DATABASE_PASSWORD: insecure
      DATABASE_HOST_OVERRIDE: database
      DATABASE_PORT_OVERRIDE: 5432
      DATAPUNT_API_URL: ${DATAPUNT_API_URL:-https://api.data.amsterdam.nl/}

    command: >
      bash -c "/app/.jenkins/docker-wait.sh \
              && python manage.py migrate \
              && python manage.py run_import \
              && python manage.py run_bag_key_conversions\
              && python manage.py run_import_validation\
              && python manage.py run_refresh_materialized_views"

  db-backup:
    image: build.datapunt.amsterdam.nl:5000/atlas/postgres
    links:
      - database:db
    volumes:
      - ./backups:/tmp/backups
    command: >
      bash -c "echo db:5432:monumenten:monumenten:insecure > ~/.pgpass \
              && chmod 600 ~/.pgpass \
              && pg_dump --clean \
                          -Fc \
                          -t dataset* \
                          -t geo*  \
                          -t django_migrations  \
                          -T auth*    \
                          -U monumenten \
                          -h db -p 5432 \
                          monumenten > /tmp/backups/database.dump"
